<!--<div class="container">
        <div class="row">
            @foreach(var page in pages)[[
            <div class="col-md-3"><a href="[[page.url]]">[[page.name]]</a></div>
            ]]
        </div>
    </div>-->
<footer class="footer-distributed">

    <div class="footer-right">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            @for(var i = 0; i<pages.length;i++)[[
                [[var page = pages[i]]]
                <a href="[[page.url]]">[[page.name]]</a>
                [[i < pages.length-1? "·":""]]
            ]]
        </p>

        <p>Company Name &copy; 2015</p>
    </div>

</footer>