@layout views/layout.html


[[var contact = contact = pages.filter(function(p){return p.url == '/contact';})[0]]]


<p>Kaddish in Israel is made up of Orthodox men (some of whom are rabbis) who go to synagogue three times a day (Shacharit, Mincha, and Ma'ariv) every day of the year.  One of these men will be reciting Kaddish for your loved one at all of these prayer services throughout the year after death and on the yahrzeit (anniversary of the death).  All of these men have made Aliyah (moved to Israel) from English-speaking countries. So if you would ever want to communicate with us directly, that's no problem. See <a href="[[contact.url]]">[[contact.name]]</a>.</p>

